footer{
    color: white;
    margin: 5px;
    padding: 5px;
    font-size: larger;
    font-family: serif;
}

body{
   background-color: rgb(182, 85, 85);
}
main{
    color: white;
    margin: 5px;
    padding: 5px;
    font-size: larger;
    font-family: Times New Roman;
}

header{
    background-color: aqua; 
    font-size: larger;
    font-family: Times New Roman;
}