<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Basica</title>
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="shortcut icon" href="img/CF.ico" type="image/ico">
</head>
<body>
    <div class="contenedor">
        <header>
            <nav>
                <ul>
                    <li><a href="../Menu Principal.html">Inicio</a></li>
                    <li><a href="#">Acerca de</a></li>
                    <li><a href="#">Producto</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </header>
        <section class="main">
            <div class="imagen">
                <img src="img/tiger-1975790_1280.jpg" alt="">
            </div>
            <section class="posts">    
             <article>
             <h2>Título del Articulo</h2>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec ex eu mi tincidunt tristique eu ac lectus. Aliquam fermentum quis metus ac facilisis. Vivamus facilisis mauris massa, quis gravida orci ornare id. Etiam eu auctor purus. Suspendisse mattis quam interdum magna sodales auctor. Cras tempor, purus vitae elementum scelerisque, justo turpis aliquet felis, vitae porttitor diam nunc eget velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
             <p>Vivamus quis vehicula ipsum. Etiam id eleifend leo, in vehicula velit. Pellentesque a bibendum justo. Suspendisse ut erat quam. Nam eget leo laoreet, fermentum ligula sed, rutrum magna. Duis nec magna libero. Morbi nec convallis justo, non blandit libero. Curabitur eleifend in enim sit amet tincidunt.</p>
             </article>
            </section> 

        </section>
        <aside>
            <div class="widget">
              <h3 class="titulo">Articulos Destacados</h3>
              <ul>
                <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet</a></li>
              </ul>
            </div>
            <div class="widget">
                <h3 class="titulo">Información</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque accumsan tellus at blandit auctor. Nunc a quam aliquet, suscipit dui non, luctus ex. Duis tincidunt lectus a erat volutpat sagittis. Fusce condimentum volutpat mauris, eu ultrices eros lacinia sit amet. Nulla consectetur, orci eget dictum pharetra, ex libero ullamcorper eros, non ultrices elit erat tristique eros. Aenean vel feugiat tellus. Fusce felis quam, vulputate a auctor in, imperdiet ut enim.</p>

            </div>
        </aside>
        <footer>
            <p>Cadmiel Ferdinand 2025 - Todos los derechos Reservados</p>
        </footer>
    </div>
</body>
</html>