#principal {
	margin-right: auto;
	margin-left: auto;
	width: 900px;
}
#principal #contenido {
	padding: 50px;
	background-color: #FFF;
	float: left;
	width: 800px;
}
#principal #pie {
	background-image: url(../imagenes/pie_fondo.gif);
	background-repeat: repeat-x;
	height: 50px;
	color: #FFF;
	text-align: center;
	padding-top: 30px;
	float: left;
	width: 900px;
}
#principal #contenido #texto {
	width: 400px;
	float: left;
	margin-right: 50px;
}
#principal #contenido #imagenes {
	width: 350px;
	float: left;
}
body {
	background-image: url(imagenes/fondo.gif);
	background-repeat: repeat;
	margin: 0px;
}
