#texto h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #603;
	margin-bottom: 5px;
}
#texto h2 {
	font-family: Arial, Helvetica, sans-serif;
	color: #399;
	font-size: 16px;
	margin-bottom: 5px;
}
#texto p a {
	font-weight: bold;
	color: #603;
}

#texto p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	margin-top: 0px;
}
