body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #ffce08, #ffffff);
    text-align: center;
}

header {
    color: #fff;
    padding: 20px;
    background: linear-gradient(135deg, #333, #ffce08);
    text-align: center;
}

h1 {
    margin: 0;
}

.back-button {
    display: inline-flex;
    align-items: center;
    margin: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
    border: 2px solid #333;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.back-button:hover {
    background-color: #333;
    color: white;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    max-width: auto;
    min-height: 500px;
    margin: auto;
}

main p {
    text-align: left;
    color: #000000;
    font-family: Arial;
    line-height: 1.5;
    font-size: 30px;
    margin-top: 50px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}


section {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 325px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

section:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

section i {
    font-size: 50px;
    margin-bottom: 10px;
}

section a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    background-color: #007BFF;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
    font-weight: bold;
}

section a:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

section img {
    width: 20%;
    height: auto;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.footer-left {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.footer-left a {
    color: #ffce08;
    font-family: 'Poppins';
    text-decoration: none;
}

.footer-left img {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

.footer-right {
    display: flex;
    gap: 15px;
}

.footer-right a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.footer-right a:hover {
    background: #ffce08;
    color: #333;
    transform: translateY(-5px);
}


@media screen and (max-width: 600px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    section {
        width: 80%;
    }
}